.button {
    /* font: inherit; */
    border: 1px solid #4f005f;
    background: #4f005f;
    color: white;
    padding: 9px 10px;
    cursor: pointer;
    font-size: 10px;
    border-radius: 10px;
    margin-right: 10px;
  }
  
  .button:hover,
  .button:active {
    background: #716972;
    border-color: #741188;
  }
  
  .button:focus {
    outline: none;
  }
  
  button:disabled,
  button:focus:disabled,
  button:hover:disabled,
  button:active:disabled {
    background: #ccc;
    border-color: #ccc;
    color: #666666;
    cursor: not-allowed;
  }
  